/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: 700;

}

h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0;
}

p {
    font-size: 1rem;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    padding: 0 50px;
}

.div-logo-header {
    display: flex;
    justify-content: flex-start;
}

.logo-header {
    padding: 30px 0;
    width: 61.09px;
    height: 19px;
}

/****** nav herbergement, activités ***********/

/* Header, comprenant la navigation */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.logo {
    width: 61px;
    height: 19px;
}

.logo-link {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 0;
}

.menu-element {
    padding-top: 30px;
    text-align: center;
    width: 50%;
}

.menu-element:hover,
.menu-element:focus-within {
    padding-top: 27px;
    border-top: 3px #0065FC solid;
}

.menu-element:hover>.menu-link,
.menu-element:focus-within>.menu-link {
    color: #0065FC;
    font-weight: 500;
}

/* Effet hover : étendre la barre */
nav a:hover::before {
    width: 100%;
}

/****** Info Group ***********/
.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline h1 {
    margin-bottom: 8px;
}

.headline h2 {
    font-weight: 400;
    font-size: 16px;
}

/* search-bar */
.search-bar {
    display: flex;
    align-items: left;
    height: 49px;
    width: fit-content;
    max-width: 377px;
}

.info-group .search-bar>i {
    border-radius: 15px 0px 0px 15px;
    background-color: #d9d9d9;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-loc-container {
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 100%;
}

.fa-location-dot {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.form-search {
    border: solid 1px var(--main-bg-color);
    border-radius: 0 15px 15px 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-search {
    text-align: center;
    border: none;
    font-size: 1.05rem;
    font-weight: 700;
    width: 80%;
    height: 90%;
}

.btn-search {
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
    font-size: 1.05rem;
    font-weight: 700;
    padding: 15px 16px;
    display: block;
    cursor: pointer;
}

.fa-magnifying-glass {
    color: white;
    background-color: var(--main-color);
    padding: 15px 16px;
    border-radius: 15px;
    border: solid 2px var(--main-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    cursor: pointer;
}

/* filter-bar */
.filter-bar {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 15px;
    height: auto;
}

.div-filters {
    display: flex;
    gap: 15px;
    width: 100%;
}

.filter {
    border: solid 2px var(--main-bg-color);
    background-color: white;
    border-radius: 25px;
    padding: 4px 19px;
    cursor: pointer;
    height: 50px;
}



.span-filters {
    padding-left: 10px;
    font-size: 1.05rem;
    font-weight: 700;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-icon-info {
    width: 24px;
    height: 24px;
    border: solid 1px var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info {
    font-size: 0.6rem;
}

/****** Cards ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
}

.card-img {
    object-fit: cover;
}

.card-subtitle {
    padding: 8px 0;
    font-size: 0.9rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#hebergements,
#populaires {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
    flex-direction: column;
    gap: 35px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards-a {
    width: 31%;
}

.heb-card {
    display: flex;
    flex-direction: column;
}

.hebergements-img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-card-content {
    margin-top: 10px;
    padding: 0 15px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 1.1rem;
}

/****** Populaires ***********/

#populaires {
    flex-direction: column;
    width: 32%;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.pop-card {
    display: flex;
    height: 146px;
}

.img-pop {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-card-content {
    width: 67%;
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Activités ***********/
#activites {
    padding: 30px;
    width: auto;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.activites-cards-a {
    width: 23%;
}

.activites-card {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.img-activ {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activite-title {
    padding: 20px 19px;
}

/****** Footer ***********/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin: 35px 50px 0 50px;
}

.div-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 29%;
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .div-filters {
        gap: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    #hebergements,
    #populaires {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards-a {
        width: 30%;
    }

    .pop-card {
        height: 100%;
    }

    .activites-cards-a {
        height: auto;
    }

    .img-activ {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .main-container {
        padding: 0;
    }

    main {
        padding: 0;
        margin-top: 35px;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .div-logo-header {
        justify-content: center;
        height: 79px;
    }

    .logo-header {
        padding: 30px;
        width: auto;
        object-fit: contain;
    }

    /****** nav herbergement, activités ***********/

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
        margin: 20px -20px 0 -20px;
    }

    .menu,
    nav {
        width: 100%;
    }

    .menu-element {
        padding-bottom: 20px;
        border-bottom: 3px #F2F2F2 solid;
    }

    .menu-element:hover,
    .menu-element:focus-within {
        padding-top: 30px;
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }

    nav a::before {
        top: auto;
        /* Désactiver la barre en haut */
        bottom: 0;
        /* Activer la barre en bas */
        height: 2px;
        width: 0%;
    }



    .info-group {
        padding: 0 20px;
    }

    .search-bar {
        max-width: 335px;
        align-self: left;
    }

    .btn-search {
        display: none;
    }

    .fa-magnifying-glass {
        display: block;
    }


    /* filter-bar */
    .div-filters {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter {
        width: 48%;
        padding: 4px 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    #hebergements,
    #populaires {
        border-radius: 0;
        padding: 30px 20px;
    }

    #populaires {
        margin-top: 0;
        gap: 15px;
    }

    .populaires-cards,
    .hebergements-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards-a,
    .hebergements-cards-a {
        width: 100%;
    }

    .img-pop {
        height: 146px;
    }

    .populaires-card-content {
        padding: 10px 5px 5px 15px;
        gap: 24px;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards-2 {
        margin-top: -20px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards-a {
        width: 100%;
    }

    footer {
        margin: 0;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .div-footer {
        width: max-content;
        padding: 0;
    }

}